## .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio / VS Code / JetBrains
.vs/
.vscode/
.idea/
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## User-specific files
*.rsuser
*.suo
*.user
*.userprefs
appsettings.Development.json
